body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #0C1844;
}
h1{ 
    color: #131842;
    text-align: center;
}
img{
    border: 3px solid #131842;
    border-radius: 4px;
    padding: 5px;
    width: 500px;  
}
p{  color: #304463;
    text-indent: 50px;
    text-align: none;
    letter-spacing: 3px;}

    .logo{ color:#060606;
    text-align:justify ;
}
footer {
    background-color:#50B498;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}