img{ 
    float: none;
width: 400px;
height: 300px;
object-fit: cover
}
h1{ 
    text-align: center;
color:#346473 ;

}
h3{
    color: #38817A;
}

p{
    font-style: oblique;
color: #304463;
}
footer {
    background-color:#50B498;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
